body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(173, 183, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculadora{
    background-color: #eebefa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rogba (0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}
h1{
    color: #333;
}
input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
button{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(74, 125, 169);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: rgb(117, 191, 248);
}
h2{
    margin-top: 20px;
    color: #333;
}
span{
    color: rgb(63, 34, 34);
    font-weight: bold;
}